[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=w0rng
Group=www-data
WorkingDirectory=/home/w0rng/server
ExecStart=/home/w0rng/.venv/bin/gunicorn \
          --chdir src/ \
          --access-logfile - \
          --workers 3 \
          --max-requests 100 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target