[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
beautifulsoup4 = "==4.9.3"
cachetools = "==4.2.0"
certifi = "==2020.12.5"
cffi = "==1.14.4"
chardet = "==4.0.0"
click = "==7.1.2"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
django-environ = "==0.4.5"
django-modeltranslation = "==0.16.1"
django-nested-inline = "==0.4.2"
djangorestframework = "==3.12.2"
drf-yasg = "==1.20.0"
firebase-admin = "==4.5.0"
flake8 = "==3.8.4"
google-api-core = "==1.24.1"
google-api-python-client = "==1.12.8"
google-auth = "==1.24.0"
google-auth-httplib2 = "==0.0.4"
google-cloud-core = "==1.5.0"
google-cloud-firestore = "==2.0.2"
google-cloud-storage = "==1.35.0"
google-crc32c = "==1.1.0"
google-resumable-media = "==1.2.0"
googleapis-common-protos = "==1.52.0"
grpcio = "==1.34.0"
gunicorn = "==20.0.4"
httplib2 = "==0.18.1"
idna = "==2.10"
inflection = "==0.5.1"
itypes = "==1.2.0"
markupsafe = "==1.1.1"
mccabe = "==0.6.1"
msgpack = "==1.0.2"
pillow = "==8.0.1"
pip-tools = "==5.5.0"
proto-plus = "==1.13.0"
protobuf = "==3.14.0"
psycopg2-binary = "==2.8.6"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.6.0"
pycparser = "==2.20"
pyflakes = "==2.2.0"
pyparsing = "==2.4.7"
python-telegram-handler = "==2.2"
pytz = "==2020.5"
requests = "==2.25.1"
rsa = "==4.7"
"ruamel.yaml" = "==0.16.12"
"ruamel.yaml.clib" = "==0.2.2"
sentry-sdk = "==0.19.5"
six = "==1.15.0"
soupsieve = "==2.1"
sqlparse = "==0.4.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.2"
CacheControl = "==0.12.6"
Django = "==3.1.5"
Jinja2 = "==2.11.2"
Markdown = "==3.3.3"

[dev-packages]

[requires]
python_version = "3.8"
