[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pillow = "*"
gunicorn = "*"
drf-yasg = "*"
sentry-sdk = "*"
python-telegram-handler = "*"
django-modeltranslation = "*"
django-nested-inline = "*"
beautifulsoup4 = "*"

[dev-packages]
flake8 = "*"
fabric = "*"

[requires]
python_version = "3.8"
