* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
}

img {
    height: 200px;
    width: 200px;
}

p {
    /* height: 250px; */
    font-family: 'Oswald', sans-serif;
    color: #006AB3;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}