<!DOCTYPE html>
<html>
    <head>
        <title>Скачать приложение Мой СибГУ</title>
        <meta charset="utf-8" />
        <link rel='stylesheet' href='index.css' />
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    </head>
    <body>
        <img src="/static/download/background.jpg" class="background" />
        <div class='block'>
            <h1>Мой СибГУ</h1>
            <h2>Приложение Университета Решетнёва</h2>
            <div class='shop-block'>
                <a href="https://play.google.com/store/apps/details?id=com.SibSU.MySibSU"><img src="/static/download/google.png" class="shop"/></a>
                <a href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B9-%D1%81%D0%B8%D0%B1%D0%B3%D1%83/id1531466252?l=ru"><img src="/static/download/apple.png" class="shop"/></a>
            </div>
        </div>
    </body>
</html>