<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/not_found/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <img src="/static/favicon.svg">
        <p>Страница не найдена 😔</p>
    </div>
</body>

</html>